{% include 'admin/header.html' %}
<!-- Top bar with user profile -->
<div class="flex flex-col sm:flex-row justify-between items-center bg-yellow-100 p-4 mb-6 rounded-md shadow-md">
    <h2 class="text-lg font-semibold text-gray-700">Attendance</h2>
    <div class="w-10 h-10 mt-2 sm:mt-0 bg-gray-300 rounded-full flex items-center justify-center text-lg font-bold text-white">
        {{ session.get('user_name', '')[0].upper() if session.get('user_name') else '' }}
    </div>
</div>

<!-- Dashboard Cards -->
<div class="grid grid-cols-1 gap-6">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full min-w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" id="search-table">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-yellow-100 dark:text-gray-700">
                <tr>
                    <th scope="col" class="px-4 py-2 sm:px-6 sm:py-3">
                        Student Name
                    </th>
                    <th scope="col" class="px-4 py-2 sm:px-6 sm:py-3">
                        Age
                    </th>
                    <th scope="col" class="px-4 py-2 sm:px-6 sm:py-3">
                        Gender
                    </th>
                    <th scope="col" class="px-4 py-2 sm:px-6 sm:py-3 text-center">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody id="studentTable">
                <!-- Table rows will be dynamically generated here -->
            </tbody>
        </table>
    </div>
</div>

{% include 'admin/footer.html' %}
