{% include 'admin/header.html'%}
    <!-- Top bar with user profile -->
    <div class="flex justify-between items-center bg-yellow-100 p-4 mb-6 rounded-md shadow-md">
        <h2 class="text-lg font-semibold text-gray-700">Teacher/Admin Dashboard</h2>
        <div class="w-10 h-10 bg-gray-300 rounded-full flex items-center justify-center text-lg font-bold text-white">
            {{  session.get('user_name', '')[0].upper() if session.get('user_name') else '' }}
        </div>
        
      </div>

      <!-- Dashboard Cards -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
        <!-- Total Students Card -->
        <div class="bg-white p-6 rounded-lg shadow-lg flex flex-col items-center">
            <img src="{{ url_for('static', filename='assets/student-icon.png') }}" alt="students icon" class="mb-4 w-12 max-w-full" />

          <h3 class="text-gray-700 font-semibold text-lg">Total Students</h3>
          <p class="text-blue-500 text-2xl font-bold" id="count_users">3</p>
        </div>
        
        <!-- Total Activities Card -->
        <div class="bg-white p-6 rounded-lg shadow-lg flex flex-col items-center">
            <img src="{{ url_for('static', filename='assets/activity.png') }}" alt="students icon" class="mb-4 w-12 max-w-full" />
          <h3 class="text-gray-700 font-semibold text-lg">Total Daily Activities</h3>
          <p class="text-blue-500 text-2xl font-bold" id="count_daily_activity">0</p>
        </div>
      </div>


{% include 'admin/footer.html' %}