{% include 'student/header.html' %}
<script src="{{ url_for('static', filename='student/matching_lvl2.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='student/matching.css') }}">


  <div class="mt-3 bg-green-300 p-12 rounded-lg shadow-md w-full max-w-4xl mx-auto game_Card">
   <!-- Back Button -->
<div class="mb-6">
    <a href="{{ url_for('student_home') }}" class="flex items-center text-blue-600 hover:text-blue-800" aria-label="Go back to student home">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" role="img" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H3m0 0l6-6m-6 6l6 6" />
        </svg>
        <span class="text-lg font-semibold">Back</span>
    </a>
</div>



  <div class="text-center">
    <h1 class="text-4xl font-bold text-blue-600 mb-6">MATCHING <span class="text-yellow-500">GAME</span></h1>
    <h6 class="text-4xl font-bold mb-6" id="currentLevel" data-level="2">Level 2</h6>
    <div id="timer" class="text-lg font-bold">Time: 00:00</div>
    <div class="bg-white p-6 rounded-lg shadow-lg relative" id="game-container" aria-live="polite">

      <div class="container" id="game-container">
      
        <svg id="svg-lines" class="absolute top-0 left-0 w-full h-full pointer-events-none"></svg>
            <div class="flex items-center justify-between mb-4">
              
                <div class="column" id="left-column">
                </div>
                <div class="column" id="right-column">
                </div>
            </div>
          
      </div>
    </div>

    </div>
